on:
   push:
     branches: main
   schedule:
     - cron: "30 9,17 * 1-3,11-12 1-5"
     - cron: "25 9 * 1-3,11-12 1-5"
     - cron: "0 7,13 * 1-3,11-12 1-5"
     - cron: "56 6 * 1-3,11-12 1-5"
     - cron: "30 8,16 * 4-10 1-5"
     - cron: "25 8 * 4-10 1-5"
     - cron: "0 6,12 * 4-10 1-5"
     - cron: "56 5 * 4-10 1-5"

jobs:
  import-data:
    runs-on: ubuntu-latest
    steps:
      - name: Set up R
        uses: r-lib/actions/setup-r@v2

      - name: Install packages
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          packages: |
            any::xml2 
            any::rvest
            any::dplyr
            any::lubridate
            any::jsonlite
            any::textutils
            any::stringr

      - name: Check out repository
        uses: actions/checkout@v4

      - name: Scrape publications from gov.uk
        run: Rscript -e 'source("create_json.R")'

      - name: Commit results
        run: |
          git config --local user.email " "
          git config --local user.name "NISRA-Tech-Lab"
          git add nisra_release_calendar.json
          git commit -m "Data updated $(TZ=Europe/London date '+%d/%m/%Y at %H:%M')" || echo "No changes to commit"
          git push origin || echo "No changes to commit"
